# Maven/Java build output
/target/
**/target/
/build/
**/build/
/out/
**/out/
*.class

# Serialized or generated data
*.ser

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
